$body-background-color: #eee;

$navbar-bg-color: #4774a2;
$navbar-text-color: #FFF;
$navbar-button-background-color: #ec9234;
$navbar-button-selected-background-color: #345475;
$navbar-button-text-color: $navbar-text-color;

$hspc-panel-background-color: $navbar-bg-color;
$hspc-panel-text-color: #FFF;
$hspc-panel-button-background-color: $navbar-button-background-color;
$hspc-panel-button-text-color: $hspc-panel-text-color;
