@import "colors";

$breakpointWidth: 768px;

header {
  display: flex;
  justify-content: space-between;

  .collapsed-menu-toggle {

    display: block;
    width: 60px;
    height: 60px;
    padding: 10px;

    cursor: pointer;
    border-radius: 3px;
    background-color: #FFF;
    transition: background-color 0.25s linear;

    .toggle-button-bar {
      width: 40px;
      height: 5px;
      margin: 6px 0;

      background-color: $color-hspc-blue;
      transition: 0.4s ease-in-out;
    }

    &.open {

      background-color: #EAEAEA;

      & > .toggle-button-bar:first-child {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      & > .toggle-button-bar:nth-child(2) {
        opacity: 0;
      }
      & > .toggle-button-bar:last-child {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }
    @media(min-width: $breakpointWidth) {
      display: none;
    }
  }

}

/* HSPC: */
a.primary-hspc-header {
  display: block;
  position: relative;

  img {
    //height: 80px;
    //margin: 5px auto;
    display: block;
    border: none; /* What if somebody used Firefox 3!? */
  }
}
