@import "colors.scss";

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

#homepageCarousel {
  .carousel-inner {
    .item {
      img {
        //filter: blur(2px) brightness(0.2);
        //@include styled-corners();
      }
      .carousel-caption {
        top: 5px;
        right: 0;
        bottom: auto;
        left: 0;
        h1 {
          font-size: 30px;
          text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        }
      }
    }
  }

}

@media (min-width: $screen-sm-min) {
  #homepageCarousel {
    .carousel-inner {
      .item {
        .carousel-caption {
          top: 50px;
          h1 {
            font-size: 60px;
          }
        }
      }
    }
  }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  #homepageCarousel {
    .carousel-inner {
      .item {
        .carousel-caption {
          top: 160px;
          h1 {
            font-size: 60px;
          }
        }
      }
    }
  }
}


ul#eventListing, ul#benefactorListing, ul#newsroomListing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  list-style: none;
  flex-grow: 1;
  padding: 0;
  margin: 0;

  li {
    flex-grow: 1;
    text-align: center;
    padding: 0;
    margin: 0;

    color: $hspc-panel-text-color;

    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

    a:link, a:visited {
      color: $hspc-panel-text-color;
    }

    a>h4 {
      font-size: 24px;
      //font-weight: bold;
      //padding: 5px 0 0 0;
      //margin: 0;
    }

    a>p {
      padding: 0 0 0 5px;
    }

  }

  li:hover {
    a, a:link, a:visited {
      text-decoration: underline;
    }
    //background-color: $hspc-panel-text-color;
    h3, p {
      //color: $hspc-panel-background-color;
    }
  }

}

ul#benefactorListing > li > a > h3.benefactor-name {
    padding: 5px;
    margin: 5px;
}



.hspc-panel-bg {
  //@include styled-corners();

  background-size: cover;
  background-attachment: scroll;
  background-position: center;

  div {
  }
}

#panel-events {
  background-image: url(/static/imgs/calendar-optimized.jpeg);
  > div {
    background: rgba(138, 140, 85, 0.44);
  }

}

#panel-announcements {
  background-image: url(/static/imgs/microphone-optimized.jpg);
  > div {
    background-color: rgba(144, 37, 37, 0.63);
  }
}


#panel-newsroom {
  background-image: url(/static/imgs/newspaper-optimized.jpeg);
  > div {
    background-color: rgba(6, 51, 87, 0.58);
  }
}


#panel-benefactors {
  background-image: url(/static/imgs/sunset-optimized.jpeg);
  > div {
    background-color: rgba(230, 102, 41, 0.35);
    padding-bottom: 10px;
  }


}
