main {
  display: block;
  margin-top: 135px;
  margin-bottom: 30px;
}

#primary-carousel {
  padding: 0 15px 0 15px;
  .carousel-inner {
    .item {
      img {
        width: 100%;
      }
    }
  }
}