@import "colors";

//html, body {
//  min-height: 100%;
//}

body {
  //background-color: #E4E7EA;
  //background-color: #254b71;
  //background-color: $body-background-color;
}

main {
  display: block;
  margin-top: 15px;
  margin-bottom: 30px;
}

#primary-carousel {
  padding: 0 15px 0 15px;
  .carousel-inner {
    .item {
      img {
        width: 100%;
      }
    }
  }
}