$menu-bar-height: 40px;
$nav-background-color: #EAEAEA;

$screen-sm-min: 768px;


#hoverDropdownNavbar>ul.flattened-nav {
  /* Test */
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  list-style: none;
  margin: 0;
  padding: 0;

  position: relative;

  //li:first-child a {
  //  border-top-left-radius: 15px;
  //}
  //li:last-child a {
  //  border-top-right-radius: 15px;
  //}

  flex-direction: column;

  @media (min-width: $screen-sm-min) {
    flex-direction: row;
  }

  > li {
    flex-grow: 1;
    display: block;

    > a {
      font-size: 22px;
      text-align: center;
      display: block;
      padding: 10px;
      background-color: $nav-background-color;

      position: relative;
      z-index: 950;

    }
    >a:focus, >a:hover {
      text-decoration: none;
    }
  }
  > li.dropdown {

    position: static;

    > a {
    }

    /* Shows dropdown menu on hover or tap */
    &.open > .dropdown-reset > ul.flattened-dropdown-menu,
    > a:hover + .dropdown-reset > ul.flattened-dropdown-menu,
    > .dropdown-reset > ul.flattened-dropdown-menu:hover {

      max-height: 1000px;
      transition: max-height 0.5s ease-in;

      @media (min-width: $screen-sm-min) {
        height: 260px;
      }
    }

    > .dropdown-reset {
      position: relative;

      z-index: 900;
      right: 0;
      bottom: 0;
      left: 0;

      @media (min-width: $screen-sm-min) {
        position: absolute;
        height: 40px;
        top: 0;
      }

      > ul.flattened-dropdown-menu {

        /* Inital state while hidden */
        max-height: 0;
        transition: max-height 0.5s ease-out;
        overflow: hidden;

        display: flex;
        z-index: 1000;
        left: 0;
        right: 0;



        /* Bootstrap overrides */
        /* TODO: Rename to remove conflicts */
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;

        list-style: none;
        flex-direction: column;
        justify-content: flex-start;

        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;

        background-color: #EAEAEA;

        position: relative;
        @media (min-width: $screen-sm-min) {
          position: absolute;
          width: 100%;
          top: $menu-bar-height;
        }


        > li:first-child {
          @media (min-width: $screen-sm-min) {
            padding-top: 40px;
          }
        }


        > li {
          position: relative;
          flex-grow: 0;

          > a {
            text-align: left;
            padding: 20px 20px 20px 20%;
            :hover {
              background-color: #DADADA;
            }
          }

        }

      }

    }
  }

}