{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block page_title %}Membership Request Submitted{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-success" role="alert">
                <h2>Membership Request Submitted</h2>
                <p>Thank you for your interest in HSPC! Our highly skilled team of word-readers will look over your request.</p>
                <p>If necessary, we will contact you via email for additional information.</p>
                <hr>
                Can't wait to get started? Check out or <a href="https://healthservices.atlassian.net/wiki/" target="_blank">Wiki</a> to start collaborating today!
            </div>
        </div>
    </div>

{% endblock %}