{% extends "home-site/base.html" %}
{% load flatpages %}
{% load helpers %}
{% block main %}
    <div class="row">
        {% include "home-site/sub-templates/carousel.html" %}
    </div>
    <div class="row">
        <br>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Upcoming Events</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            <a href="#">
                                <strong>14th General Meeting</strong>
                                <p>March 27-29, 2017</p>
                                <p>New Orleans, LA</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <strong>15th General Meeting</strong>
                                <p>March 27-29, 2017</p>
                                <p>Washington DC or LA</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <strong>16th General Meeting</strong>
                                <p>March 27-29, 2017</p>
                                <p>San Francisco, CA</p>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-default">See Events &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Join HSPC</h4>
                </div>
                <div class="panel-body">
                    <p>Be a part of the provider-led consortium for true healthcare interoperability.</p>
                    <a href="#" class="btn btn-default">See Details &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Collaborate</h4>
                </div>
                <div class="panel-body">
                    <p>Visit our Wiki to access a vast library of SOA artifacts and collaborate with others.</p>
                    <a href="#" class="btn btn-default">See Details &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">The Marketplace</h4>
                </div>
                <div class="panel-body">
                    <p>Check out our collection of plug-and-play healthcare applications.</p>
                    <a href="#" class="btn btn-default">See Details &raquo;</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
{% get_flatpages as flatpages %}
<ul>
    {% for page in flatpages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    <hr>

    {% get_main_navigation as main_nav %}
    <ul>
        {% for menu_entry in main_nav %}
            {% if menu_entry.menuentry_set.count > 0 %}
                <li>{{ menu_entry }}
                    <ul>
                    {% for menu_entry_child in menu_entry.menuentry_set.all %}
                        <li><a href="{{ menu_entry_child.get_url }}">{{ menu_entry_child }}</a> </li>
                    {% endfor %}
                    </ul>
                </li>
            {% else %}
                {% if not menu_entry.is_divider %}
                    <li><a href="{{ menu_entry.get_url }}">{{ menu_entry }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>

</ul>
    </div>

{% endblock %}