{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags %}

{% block page_title %}{{ page.title }}{% endblock %}
{% block styles %}
    <link href="{% static "styles/rich-text.css" %}" rel="stylesheet">
    <link href="{% static "styles/info-page.css" %}" rel="stylesheet">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="info-page-body">
                {{ page.body|richtext }}
            </div>
        </div>
    </div>
{% endblock %}
