{% extends "base.html" %}
{% load static %}
{% load helpers %}

{% block page_title %}Events{% endblock %}
{% block styles %}
    <link href="{% static "styles/events.css" %}" rel="stylesheet">
{% endblock %}

{% block main %}

    <div class="col-md-8 col-md-offset-2">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#upcoming" aria-controls="home" role="tab" data-toggle="tab">Upcoming</a>
            </li>
            <li role="presentation">
                <a href="#archive" aria-controls="profile" role="tab" data-toggle="tab">Archive</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="upcoming">
                <h2 class="text-center">Upcoming Events</h2>
                <hr>
                {% get_future_events as future_events %}
                {% for event in future_events %}
                    <div class="event-panel-container" id="event-{{ event.pk }}">
                        <div class="panel panel-default event-panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ event.title }}</h3>
                            </div>
                            <div class="panel-body">
                                <p><strong>When:</strong> {{ event.display_date }}</p>
                                <p><strong>Where:</strong> {{ event.location }}</p>
                                <p>{{ event.event_details|safe }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div role="tabpanel" class="tab-pane" id="archive">
                <h2>Past Events</h2>
                <hr>
                {% get_past_events as past_events %}
                {% for event in past_events %}
                    <div class="event-panel-container" id="event-{{ event.pk }}">
                        <div class="panel panel-default event-panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ event.title }}</h3>
                            </div>
                            <div class="panel-body">
                                <p><strong>When:</strong> {{ event.display_date }}</p>
                                <p><strong>Where:</strong> {{ event.location }}</p>
                                <p>{{ event.event_details|safe }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>


{% endblock %}