{% extends "base.html" %}
{% load static %}
{% load helpers %}
{% load wagtailcore_tags %}

{% block page_title %}{{ page.title }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "styles/home.css" %}">
    <link rel="stylesheet" href="{% static "styles/typed.css" %}">
    <link rel="stylesheet" href="{% static "styles/hspc-panel.css" %}">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block main %}

    {# Begin header/banner image Panel #}
    <div class="row">
        <div class="col-xs-12">
            <div id="hero-banner" style="background-image: url({% static "imgs/pulse-trace-blue.png" %})">
                <h1 class="hero-caption">HSP<span id="typedArea"></span></h1>
            </div>
        </div>
    </div>
    {# End header/banner image Panel #}

    {##}
    {#  This is currently on hold until https://github.com/wagtail/wagtail/issues/2087 is resolved #}
    {#    <div class="row">#}
    {#        {% for block in page.body %}#}
    {#            <div class="col-md-4">#}
    {#                {{ block }}#}
    {#            </div>#}
    {#        {% endfor %}#}
    {#    </div>#}

    {# Begin split 3-item Panel #}

    <div class="row hspc-panel-row">

        <div class="col-md-4 hspc-panel-column">
            <div class="hspc-panel" style="background-image: url(/static/imgs/wooden-pawns-optimized.jpeg)">
                <div class="hspc-panel-inner" style="background-color: rgba(21, 136, 23, 0.5)">
                    <div class="hspc-panel-icon">
                        <span class="material-icons">assignment_turned_in</span>
                    </div>
                    <div class="hspc-panel-body">
                        <h1>Join HSPC</h1>
                        <p class="hspc-panel-text">
                            Be a part of the provider-led consortium for true healthcare interoperability.
                        </p>
                    </div>
                    <a href="/membership/join/" class="hspc-panel-action-button">Join Now &raquo;</a>
                </div>
            </div>
        </div>


        <div class="col-md-4 hspc-panel-column">
            <div class="hspc-panel" style="background-image: url(/static/imgs/solor-snip.png)">
                <div class="hspc-panel-inner" style="background-color: rgba(113, 113, 113, 0.5)">
                    <div class="hspc-panel-icon">
                        <span class="material-icons">group</span>
                    </div>
                    <div class="hspc-panel-body">
                        <h1>Solor</h1>
                        <p class="hspc-panel-text">
                            HSPC is proud to have the SOLOR Launch as part of our 16th General Meeting.
                        <br>
                            Visit solor.io now!
                        </p>
                    </div>
                    <a class="hspc-panel-action-button" href="http://solor.io/"
                       target="_blank" rel="noopener">Solor.io <i class="material-icons">open_in_new</i></a>
                </div>
            </div>
        </div>


        <div class="col-md-4 hspc-panel-column">
            <div class="hspc-panel" style="background-image: url(/static/imgs/doctor-optimized.jpeg); background-position: right;">
                <div class="hspc-panel-inner" style="background-color: rgba(78, 32, 74, 0.75)">
                    <div class="hspc-panel-icon">
                        <span class="material-icons">cached</span>
                    </div>
                    <div class="hspc-panel-body">
                        <h1>CIIC</h1>
                        <p class="hspc-panel-text">
                            <em>&quot;Interoperability depends on implementing the same data model across systems.&quot;</em>
                        </p>
                    </div>
                    <a class="hspc-panel-action-button" target="_blank" rel="noopener" href="https://healthservices.atlassian.net/wiki/spaces/CIIC/overview">Learn More <i class="material-icons">open_in_new</i></a>
                </div>
            </div>
        </div>

    </div>
    {# End split 3-item Panel #}

    {# Begin Events Panel #}
    <div class="row hspc-panel-row">
        <div class="col-md-8 hspc-panel-column">

            <div class="hspc-panel" id="panel-events">
                <div class="hspc-panel-inner">
                    <div class="hspc-panel-icon">
                        <span class="material-icons">event</span>
                    </div>
                    <div class="hspc-panel-body">
                        <h1>Upcoming Events</h1>
                        {% get_some_future_events as upcoming_events %}
                        <ul id="eventListing">
                            {% for event in upcoming_events %}
                                <li>
                                    <a href="/events/#event-{{ event.id }}">
                                        <h4>{{ event.display_date }}</h4>
                                        <p>{{ event.title }}</p>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <a class="hspc-panel-action-button" href="/events/">See All Events &raquo;</a>
                </div>
            </div>
        </div>


        <div class="col-md-4 hspc-panel-column">
            <div class="hspc-panel" id="panel-announcements">
                <div class="hspc-panel-inner">
                    <div class="hspc-panel-icon">
                        <span class="material-icons">record_voice_over</span>
                    </div>
                    <div class="hspc-panel-body">
                        <h1>Announcements</h1>
                        {% get_latest_announcement as latest_announcement %}
                        {{ latest_announcement.announcement|safe }}
                    </div>
                    <a class="hspc-panel-action-button" href="{% url "website:announcement-list" %}">See All &raquo;</a>
                </div>
            </div>
        </div>

    </div>

    {# Begin Benefactors Panel #}
    <div class="row hspc-panel-row">


        <div class="col-md-6 hspc-panel-column">
            <div class="hspc-panel" id="panel-newsroom">
                <div class="hspc-panel-inner">
                    <div class="hspc-panel-icon">
                        <span class="material-icons">library_books</span>
                    </div>
                    <div class="hspc-panel-body">
                        <h1>Newsroom</h1>
                        <ul id="newsroomListing">
                            {% get_latest_newsroom_entries as some_newsroom_entries %}
                            {% for entry in some_newsroom_entries %}
                                <li>
                                    <a href="{{ entry.url }}">
                                        <h4>{{ entry.source }} - {{ entry.date }}</h4>
                                        <p>{{ entry.article_title }}</p>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <a class="hspc-panel-action-button" href="{% url "website:newsroom-list" %}">See More &raquo;</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 hspc-panel-column">
            <div class="hspc-panel" id="panel-benefactors">
                <div class="hspc-panel-inner">
                    <div class="hspc-panel-icon">
                        <span class="material-icons">favorite</span>
                    </div>
                    <div class="hspc-panel-body">
                        <h1>Our Benefactors</h1>
                        {% get_some_future_events as upcoming_events %}
                        <ul id="benefactorListing">
                            <li>
                                <a target="_blank" rel="noopener nofollow" href="https://intermountainhealthcare.org/">
                                    <h3 class="benefactor-name">Intermountain Healthcare</h3>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" rel="noopener nofollow" href="https://www.lsu.edu/">
                                    <h3 class="benefactor-name">Louisiana State University Health</h3>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" rel="noopener nofollow" href="https://www.va.gov/">
                                    <h3 class="benefactor-name">Veterans Administration</h3>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# End Benefactors Panel #}
{% endblock %}

{% block scripts %}
    <script src="{% static "bower_components/typed.js/dist/typed.min.js" %}"></script>
    <script>
        $(function () {
            $("#typedArea").typed({
                strings: ["Collaboration", "Community", "Consortium"],
                typeSpeed: 2
            });
        });
    </script>
{% endblock %}
