{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags %}

{% block page_title %}{{ page.title }}{% endblock %}
{% block styles %}
    <link href="{% static "styles/rich-text.css" %}" rel="stylesheet">
    <link href="{% static "styles/robust-info-page.css" %}" rel="stylesheet">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 robust-info-page-body">
            {% for block in page.body %}

                {% if block.block_type == "heading" %}
                    <div class="robust-info-heading">
                        <h3>{{ block }}</h3>
                    </div>
                {% endif %}


                {% if block.block_type == "separator" %}
                    <hr class="robust-info-separator">
                {% endif %}



                {% if block.block_type == "paragraph" %}
                    <div class="robust-info-paragraph">
                        {{ block }}
                    </div>
                {% endif %}


                {% if block.block_type == "image" %}
                    <div class="robust-info-image">{{ block }}</div>
                {% endif %}

            {% endfor %}
        </div>
    </div>
{% endblock %}
