{% load static %}
{% load menu_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HSPC | {% block page_title %}{% endblock %}</title>
    <meta name="description" content="HSPC is a provider-led and vendor-involved consortium dedicated to establishing a scalable, truly interoperable data and services architecture for healthcare.">
    <meta name="author" content="HSPC Members">
    <meta name="robots" content="index,follow,noodp" />

    <link rel="apple-touch-icon" sizes="57x57" href="{% static "icons/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "icons/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "icons/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "icons/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "icons/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "icons/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "icons/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "icons/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "icons/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "icons/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "icons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "icons/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "icons/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "manifest.json" %}">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#4774a2">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
    <link rel="stylesheet" href="{% static "styles/cosmo.bootstrap.min.css" %}?nocache={% now "U" %}">
    <link rel="stylesheet" href="{% static "styles/main.css" %}?nocache={% now "U" %}">
    <link rel="stylesheet" href="{% static "styles/header.css" %}?nocache={% now "U" %}">
    <link rel="stylesheet" href="{% static "styles/footer.css" %}?nocache={% now "U" %}">
    <link rel="stylesheet" href="{% static "styles/ie10-viewport-bug-workaround.css" %}">
    {% block styles %}{% endblock %} {# Used so subpages can inject thier own styles #}

    <script src="https://use.typekit.net/fcm2zhl.js" defer></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>
<body class="{% block body_class %}{% endblock %}">

<div class="before-header">
    <div class="container">
        <div class="row">
            <header>
                <div class="header-reset">
                    <a class="logo-link" href="/">
                        <img alt="HSPC Logo" style="max-height: 48px" src="{% static "imgs/logo-draft-v4.png" %}">
                    </a>
                    <div class="nav-toggle collapsed-menu-toggle">
                        <div class="toggle-button-bar"></div>
                        <div class="toggle-button-bar"></div>
                        <div class="toggle-button-bar"></div>
                    </div>
                </div>
                <nav class="ddNavbar">
                    {% main_menu template="website/nav/main_menu_dropdown.html" %}
                </nav>
{#                <form class="header-search">#}
{#                    <input type="search" name="q" placeholder="Search HSPC">#}
{#                    <button type="submit">Go</button>#}
{#                </form>#}
            </header>
        </div>
    </div>
</div>


<main>
    <div class="container">
        {% block main %}
        {% endblock %}
    </div>
</main>


<!-- FOOTER -->

<footer>
    <div class="container">
        <div class="row">
            {#            <div class="col-sm-4">#}
            <div class="col-sm-4 col-sm-offset-2">
                <div class="essential-info ei-general">
                    <h4>&copy; 2017 Health Services Platform Consortium</h4>
                    <ul>
                        <li>
                            <a href="/privacy/">Privacy Statement</a>
                        </li>
                        <li>
                            <a href="/terms/">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="/membership/join/">Join Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                {% flat_menu 'sitemap' %}
            </div>
        </div>
    </div><!-- /.container -->
</footer>

{#<script src="{% static "scripts/pace.min.js" %}"></script>#}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{% static "scripts/nav.js" %}?nocache={% now "U" %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
